<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{stage.name}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="has-header">
  <img src="{{img}}" *ngFor="let img of journal.img" />
  <ion-card *ngIf="journal.text">
    <ion-card-content>
      {{journal.text}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="{{img}}" *ngFor="let img of stage.img" />
    <ion-card-header>
      Description
    </ion-card-header>
    <ion-card-content>
      {{stage.description}}
    </ion-card-content>
  </ion-card>

</ion-content>