<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{stage.name}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="has-header">

  <ion-card>
    <img src="{{img}}" *ngFor="let img of stage.img" />
    <ion-card-header>
      Description
    </ion-card-header>
    <ion-card-content>
      {{stage.description}}
    </ion-card-content>
  </ion-card>

  <div *ngIf="journal.text">
    <img src="{{img}}" *ngFor="let img of journal.img" />
    <ion-card *ngFor="let item of journal.text">
      <ion-card-content>
        <ion-datetime small end displayFormat="DD/MM/YYYY" [(ngModel)]="item.date" disabled="true"></ion-datetime>

        {{item.text}}
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>